.x-axis,
.y-axis,
.x1-axis,
.y1-axis,
.x2-axis,
.y2-axis,
.x3-axis,
.y3-axis,
.x4-axis,
.y4-axis {
  display: inline-block;
  animation: 1s ease-in-out alternate;
  animation-fill-mode: both;
}

.rotation {
  animation: rotation 20s linear infinite;
  animation-delay: 5.2s;
}

.x-axis,
.y-axis {
  animation-delay: 3s;
}

.x1-axis,
.y1-axis {
  animation-delay: 3.4s;
}

.x2-axis,
.y2-axis {
  animation-delay: 3.8s;
}

.x3-axis,
.y3-axis {
  animation-delay: 4.2s;
}

.x4-axis,
.y4-axis {
  animation-delay: 4.2s;
}

.x-axis {
  animation-name: moveX;
}
.y-axis {
  animation-name: moveY;
}

.x1-axis {
  animation-name: moveX1;
}
.y1-axis {
  animation-name: moveY1;
}

.x2-axis {
  animation-name: moveX2;
}
.y2-axis {
  animation-name: moveY2;
}

.x3-axis {
  animation-name: moveX3;
}
.y3-axis {
  animation-name: moveY3;
}

.x4-axis {
  animation-name: moveX4;
}
.y4-axis {
  animation-name: moveY4;
}

@keyframes moveX {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-205px);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes moveX1 {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-160px);
  }
}

@keyframes moveY1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-180px);
  }
}

@keyframes moveX2 {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  50% {
    transform: translatex(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes moveY2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-280px);
  }
}

@keyframes moveX3 {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes moveY3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(-180px);
  }
}

@keyframes moveX4 {
  0% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(140px);
  }

  100% {
    transform: translateX(220px);
  }
}

@keyframes moveY4 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  @keyframes moveX {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-95px);
    }
  }

  @keyframes moveX1 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-100px);
    }
  }

  @keyframes moveY1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-110px);
    }
  }

  @keyframes moveX2 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translatex(-50px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  @keyframes moveY2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(-190px);
    }
  }

  @keyframes moveX3 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translateX(80px);
    }

    100% {
      transform: translateX(110px);
    }
  }

  @keyframes moveY3 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-130px);
    }
    100% {
      transform: translateY(-150px);
    }
  }

  @keyframes moveX4 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translateX(140px);
    }

    100% {
      transform: translateX(160px);
    }
  }

  @keyframes moveY4 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@media screen and (max-width: 370px) {
  @keyframes moveX {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-55px);
    }
  }

  @keyframes moveX1 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-70px);
    }
  }

  @keyframes moveY1 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-100px);
    }
  }

  @keyframes moveX2 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translatex(-50px);
    }

    100% {
      transform: translateX(20px);
    }
  }

  @keyframes moveY2 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(-160px);
    }
  }

  @keyframes moveX3 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translateX(70px);
    }

    100% {
      transform: translateX(120px);
    }
  }

  @keyframes moveY3 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-80px);
    }
    100% {
      transform: translateY(-120px);
    }
  }

  @keyframes moveX4 {
    0% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    50% {
      transform: translateX(100px);
    }

    100% {
      transform: translateX(120px);
    }
  }

  @keyframes moveY4 {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(20px);
    }
  }
}
